index.wadl

<application xmlns="http://wadl.dev.java.net/2009/02">
   <doc xml:lang="en" title="http://localhost:8888"/>
   <resources base="http://localhost:8888">
      <resource path="api/login" id="Login">
         <doc xml:lang="en" title="Login"/>
         <param name="usuariologin" type="xs:string" required="true" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <doc xml:lang="en" title="usuariologin Parameter">Login do usuário que utilizará a aplicação</doc>
         </param>
         <param name="usuariosenha" type="xs:string" required="false" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <doc xml:lang="en" title="usuariosenha Parameter">Senha do usuário que utilizará a aplicação</doc>
         </param>
         <method name="GET" id="Login">
            <doc xml:lang="en" title="Login"/>
            <request/>
            <response status="401 500">
               <representation mediaType="text/html;charset=UTF-8"/>
            </response>
            <response status="200">
               <representation mediaType="application/json" element="log:Response" xmlns:log="http://localhost/api/login"/>
               <representation mediaType="text/html; charset=UTF-8" element="html"/>
            </response>
            <response status="500">
               <representation mediaType="text/html; charset=UTF-8"/>
            </response>
         </method>
      </resource>
      <resource path="api/produto" id="Adicionar produto">
         <doc xml:lang="en" title="Adicionar produto"/>
         <method name="POST" id="Adicionar produto">
            <doc xml:lang="en" title="Adicionar produto"/>
            <request>
               <param name="produtonome" type="xs:string" required="false" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <doc xml:lang="en" title="produtonome Parameter">Nome do produto</doc>
               </param>
               <param name="produtovalor" type="xs:decimal" required="false" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <doc xml:lang="en" title="produtovalor Parameter">Valor do produto</doc>
               </param>
               <param name="produtoestoque" type="xs:integer" required="false" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <doc xml:lang="en" title="produtoestoque Parameter">Estoque do produto</doc>
               </param>
               <param name="token" type="xs:string" required="true" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  <doc xml:lang="en" title="token Parameter">Token de sessão do produto</doc>
               </param>
               <representation mediaType="application/json"/>
               <representation mediaType="application/x-www-form-urlencoded"/>
            </request>
            <response status="401 500">
               <representation mediaType="text/html;charset=UTF-8"/>
            </response>
            <response status="">
               <representation mediaType="application/json"/>
               <representation mediaType="application/x-www-form-urlencoded"/>
            </response>
            <response status="200">
               <representation mediaType="application/json" element="add:Response" xmlns:add="http://localhost/api/produto"/>
               <representation mediaType="text/html; charset=UTF-8" element="html"/>
            </response>
            <response status="500">
               <representation mediaType="text/html; charset=UTF-8"/>
            </response>
         </method>
      </resource>
   </resources>
</application>